

/*	Fonts	*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
    overflow-x: hidden;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #595959;
    font-family: 'Work Sans', sans-serif !important;
    background: none;
    display: flex;
    height: 100vh;
    flex-direction: column;
}    
em
{
    font-family: 'Lora', serif;    
    font-weight: 900;
}
p
{
    font-family: 'Work Sans', sans-serif;    
    font-size: 14px;    
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-weight: normal;
    color: inherit !important;
}
a {
    color: #7bc4e6;
    transition: all 150ms ease-in;
}
a:hover,
a:focus {
    color: #7bc4e6;
    text-decoration: none;
}
strong {
    font-weight: 600
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #303030;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
}
h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
}
h3 {
    font-size: 18px;
    line-height: 24px;
}
h4 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7px;
}
h5 {
    font-size: 15px;
    line-height: 19px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
}
.navbar-brand {
	max-width: 275px;
}   
.header-menu a
{
	text-transform: uppercase;
}
.carousel-item
{
	height: auto;
	max-height: calc(100vh - 80px);
	overflow: hidden;
}
.carousel-cap 
{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    right: 0;
    text-align: center;	
}
.carousel-cap h2 
{
	color: #fff;
    font-weight: 600;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.carousel-cap p
{
font-family: 'Pacifico', cursive;
    color: #0ec7e3;
    font-size: 40px;	
}
.content
{
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 35px;
    letter-spacing: -0.5px;
}
#services .content
{
    padding: 80px 50px 30px 50px;    
}
.service-block h5
{
    font-size: 16px;
}
.service-block p
{
    font-size: 14px;
    padding: 10px;
}
.block-icon.small img {
    max-width: 100%;
    height: 200px;
    max-height: 200px;
    width: auto;
}
.block-icon
{
    margin-bottom: 15px;
}
h2.title
{
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    font-weight: 500;
    color: #303030;
    width: 100%;
    padding-bottom: 15px;
}
h2.title:before {
    margin-left: -100%;
    margin-right: 20px;
}
h2.title:after {
    margin-right: -100%;
    margin-left: 20px;
}
h2.title:before,
h2.title:after {
    content: '';
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.09);
    display: inline-block;
    vertical-align: middle;
}
p.head
{
    font-size: 18px;
    margin-bottom: 50px;
}
.content-block
{
    margin-bottom: 30px;
}
.content-block h4
{
    font-size: 16px;
}
.block-icon img
{
    height: 350px;
}
.content-block span
{
    color: #abe4ff;
    display: inline-block;
    font-size: 16px;
    top: 0;
}
.block-title
{
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 50px;
}
.block-title .thin
{
    font-weight: 300;
    color: #55565b;
    margin: 0 0 .625rem;
    text-transform: uppercase;
    letter-spacing: .2143rem;
    font-size: 30px;
}
.block-title .bolder
{
    color: #55565b;
    font-weight: 700;
    letter-spacing: .125rem;
    font-size: 48px; 
}
#what-we-do
{
    font-family: 'Josefin Sans', sans-serif;
    padding: 80px 0px;
}
.square-box {
    padding: 50px 30px 20px 30px;
    text-align: center;
    position: relative;
    -webkit-transition: box-shadow linear .5s;
    -o-transition: box-shadow linear .5s;
    -webkit-transition: -webkit-box-shadow linear .5s;
    transition: -webkit-box-shadow linear .5s;
    transition: box-shadow linear .5s;
    transition: box-shadow linear .5s, -webkit-box-shadow linear .5s;
    overflow: hidden;
    background: #f8f8f8;
    border-radius: 10px;
    letter-spacing: 0.4px;
    margin-bottom: 50px;
}
.square-box:hover {
    -webkit-box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgba(1, 2, 2, .1);
    box-shadow: 0 0.1429rem 0.6429rem 0.07143rem rgba(1, 2, 2, .1);
}
.square-box:hover:before {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.square-box:hover .icon-box span, .square-box:hover .title-box h5 a {
    color: #0ec7e3;
    text-decoration: none;
}
.square-box > * {
    position: relative;
    z-index: 2;
}
.square-box:before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    -webkit-transition: -webkit-transform linear .2s;
    transition: -webkit-transform linear .2s;
    -o-transition: -o-transform linear .2s;
    transition: transform linear .2s;
    transition: transform linear .2s, -webkit-transform linear .2s, -o-transform linear .2s;
    -webkit-transform: translate(101%, 0);
    -o-transform: translate(101%, 0);
    transform: translate(101%, 0);
}

.icon-box span:before {
    content: "\e90c";
}
.icon-box span
{
    margin-bottom: 1.5625rem;
    color: #575757;
    font-size: 2.8125rem;
    line-height: 1;    
}
.title-box h5
{
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.title-box h5 a 
{
    color: #55565b;
}
.title-box p
{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 25px;
    padding: 0px 30px;
    color: #55565b;    
}
.more-box a
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px; 
    text-transform: uppercase;   
    color: #55565b;
}
.more-box
{
    padding: 15px 0px 0px 0px;    
}
.block-title p
{
    font-family: 'Poppins', sans-serif;    
    font-size: 18px;
    font-style: italic;
    color: #55565b;
    letter-spacing: 1px;        
}
#contact-pop
{
    background-image: url(../img/contact.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px 80px 0px;
}
#contact-pop .block-title {
    padding-top: 0px;
}	
#contact-pop h1
{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;	
    font-size: 30px;	
    color: #fff !important;	
}
#contact-pop p	
{
	font-family: 'Josefin Sans', sans-serif;		
	font-weight: 700;
    color: #fff !important;	
	font-size: 48px;
	font-style: normal;	
}
#contact-pop a.btn
{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 14px 50px;
    background: #0ec7e3;
    border-color: #0ec7e3;
    box-shadow: none;
    outline: none;
    transition: all 0.3s ease 0.0s;    
}
#contact-pop a.btn:hover
{
    background: #11b5ce;
    border-color: #11b5ce;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}
span {
    font-size: 70px;    
    position: relative;
    top: -5px;
}
.owl-nav button:focus {
    outline: none;
}

#footer
{
    position: relative;
    padding: 60px 0px 0px 0px;
}
.footer .bubble-1 {
    top: 15%;
    left: 13%;
}
.footer .bubble-2 {
    top: 15%;
    right: 20%;
}
.footer .bubble-3 {
    bottom: 0px;
    left: 10%;
}
.footer .bubble-4 {
    bottom: 50px;
    right: 13%;
}
.footer [class*=bubble-] {
    position: absolute;
    -webkit-animation-name: bubbleMover;
    animation-name: bubbleMover;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-perspective: 400px;
    perspective: 400px;
}
@-webkit-keyframes bubbleMover {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
            transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
            transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
  }
  60% {
    -webkit-transform: rotate3d(1, 0, 0, 15deg) translateY(20px) translateX(20px);
            transform: rotate3d(1, 0, 0, 15deg) translateY(20px) translateX(20px);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
            transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
            transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
  }
}

@keyframes bubbleMover {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
            transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
  }
  30% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
            transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
  }
  60% {
    -webkit-transform: rotate3d(1, 0, 0, 15deg) translateY(20px) translateX(20px);
            transform: rotate3d(1, 0, 0, 15deg) translateY(20px) translateX(20px);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
            transform: rotate3d(0, 0, 1, 20deg) translateY(10px) translateX(10px);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
            transform: rotate3d(0, 1, 0, 15deg) translateY(0px) translateX(0px);
  }
}

.footer-section
{
    padding-bottom: 30px;
}
.footer-contact-main h5
{
    font-weight: 600;
    padding: 15px 0px;
    margin: 0;
}    
.footer-contact-main p
{
    margin: 0;
    color: #666E82;
    font-size: 15px;
    line-height: 26px;
    padding: 5px 0px;
    font-weight: 400;
}
.footer-menu .menu-ul
{
    list-style: none;
    padding: 0px;
}
.footer-menu li a {
    color: #666E82;
    font-size: 15px;
    display: inline-block;
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-decoration: none;
}
.footer-menu li a:hover {
    color: #0ec7e3;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.footer-menu li a:hover:before
{
    opacity: 1;
}
.footer-menu li a:before {
    content: url('../img/right-arrow.png');
    color: #FF8257;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-15px);
    transform: translateY(-50%) translateX(-15px);
    opacity: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    }
.footer-contact-main .title, .footer-logo
{
    min-height: 60px;
}
.our-clients
{
    background: rgb(248, 248, 248);
    padding: 70px 0px 50px 0px;    
}
.footer-logo img
{
    max-width: 30px;
}
.our-clients .client-logo
{
    padding: 0px 15px;
}
.client-logo img
{
    display: block;
    margin: 0 auto;
    max-width: 100px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;        
}

ul.menu-ul li
{
    padding: 0px 0px 10px 0px;
}
.social-ul
{
    padding-top: 20px;
}
.social-ul a
{
}
.social-ul a:hover i
{
    color: #0ec7e3;
}
.social-ul i
{
    margin-right: 10px;
    font-size: 20px;    
    color: #666E82;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;    
}
.footer-bottom {
    background-color: #FAFAFA;
    padding: 20px 0;
    margin-top: 40px;
}
.footer-bottom p
{
    margin: 0px;
    padding: 0px;
}
.footer-bottom p, .footer-bottom a 
{
    color: #666E82;    
}
.client-logo:hover img 
{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);    
  transform: scale(1.05);
}
.navbar-nav a:hover:before, .navbar-nav li:hover > a:before, .navbar-nav .nav-item.active a:before {
    visibility: visible;
    width: 100%;
}

.navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0ec7e3;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav li {
    position: relative;
    white-space: nowrap;
    padding: 0px;
    margin: 0px 15px;
}
.navbar-nav .nav-link {
    padding: 8px 0px !important;
    font-size: 14px;
}
#features
{
    padding-bottom: 90px;
}
#inner-page
{
    margin-top: 80px;    
}
.inner-heading
{
    padding: 40px;
}
.breadcrumb
{
    display: block !important;
    margin: 0 auto;
}
.breadcrumb li, .breadcrumb-item a
{
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    color: #fff !important;
}
#inner-page .breadcrumb-item+.breadcrumb-item::before 
{
    color: #fff;
}
#about-section
{
    padding: 100px;
}

#inner-page
{
    background-image: url(../img/contact.jpg);
    background-position: center;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 0px 15px 0px;    
}
.inner-heading h3
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #fff !important;
    font-size: 48px;
    font-style: normal;    
}
.inner-heading .breadcrumb
{
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 0;
}
.about h2
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;    
}
.title h2
{
    color: #55565b;
    font-weight: 700;
    margin-bottom: 60px;
}
.title h2 span
{
    color: #0ec7e3;
    font-size: 48px;
    top: 0;
}
.about p
{
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #55565b;
    line-height: 32px;
}
#content-section .container-fluid
{
    width: 100%;
}
.block-text p
{
    font-size: 14px;
    color: #55565b;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 35px;
    line-height: 25px;
}
.block-text h3
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #55565b;
    padding-bottom: 30px;
}
.block-text
{
    padding: 60px 0px 60px 60px;
    max-width: 100%;
}
.about-block
{
    height: 580px;
    overflow: hidden;    
}
.about-block img
{
    width: 100%;
    height: 600px;
    object-fit: cover;    
}
.service-block
{
    margin-bottom: 50px;
}
#service-section
{
    padding: 100px 100px 50px 100px    
}
nav.fixed-top
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;    
}
nav.fixed-top.shrink-nav
{
    height: 70px;
}
#header-slider
{
    padding-top: 80px;
}






/******************************************************* R E S P O N S I V E *******************************************************/


@media (min-width: 100px) and (max-width: 767px)
{
    .navbar-collapse.header-menu
    {
        background: #fff;
        box-shadow: 0px 0px 5px 0px #ccc;    
    }    
    nav.fixed-top
    {
        height: 70px !important;
    }
    nav.fixed-top.shrink-nav
    {
        height: 70px !important;
    }        
    button.navbar-toggler
    {
        margin-bottom: 10px !important;
    }
    .navbar-toggler .navbar-toggler-icon
    {
        width: 30px;
        height: 30px;
        top: 0; 
    }
    .navbar-brand {
        max-width: 180px;
        padding: 12px 0px;
        margin: 9px 0px;
    }
    .carousel-cap h2 {
        font-size: 22px;
        padding: 10px;
    }
    .carousel-cap p {
        font-size: 18px;
    }
    h2.title {
        font-size: 18px;
    }
    .our-clients .client-logo {
        margin-bottom: 40px;
    }
    .footer-section {
        padding: 0px 15px;
    }
    #contact-pop p {
        font-size: 40px;
        line-height: 40px;
    }
    #about-section {
        padding: 70px 20px;
    }                    
    .block-text {
        padding: 50px 30px 30px 30px;
    }
    #service-section {
        padding: 80px 30px 30px 30px;
    }
    #service-section .service-block
    {
        padding: 0px;
    }        
    .service-block p {
        padding: 10px 0;
    }
    #services
    {
        padding: 50px 30px 0px 30px;        
    }
    #services .service-block
    {
        padding: 0px;
    }    
    #features {
        padding-bottom: 90px;
        padding: 30px;
    }
    #features .container{
        padding: 0px;
    }    
    h2.title:before {
        margin-right: 15px;
    }    
    h2.title:after {
        margin-left: 15px;
    }
    #what-we-do {
        padding: 50px 30px;
    }
    #what-we-do .container {
        padding: 0px;
    }            
    #services .content {
        padding: 30px 0px;
    }    
    .block-icon.large
    {
        margin: 20px 0px 60px 0px;
    }
    #features .content-block
    {
        margin-bottom: 45px;
    }
}
@media (min-width: 100px) and (max-width: 575px)
{
    .res-p-block .product-block .block-icon.small img {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        width: auto;
    }    
    .res-p-block .product-block-sub {
        display: block !important;
    }    
    .res-p-block .product-details {
        padding: 0px 30px 0px 30px !important;
    }    
    .res-p-block .product-block .block-icon {
        padding: 30px !important;
    }    
.close-block img {
    opacity: 0.3;
    max-width: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px !important;
    right: 0 !important;
    z-index: 9;
    padding: 8px;
}    
}
@media (min-width: 576px) and (max-width: 767px)
{
.res-p-block .product-block .block-icon.small img {
    max-width: 210px !important;
    height: 210px !important;
    max-height: 210px !important;
    width: 210px !important;
    object-fit: cover;
}    
.res-p-block .product-block .block-icon {
    padding: 40px 10px 40px 40px !important;
}    
    #features .content-block p
    {
        padding: 0px 10px 0px 0px;        
    }    
    .square-box {
        padding: 50px 25px 20px 25px;    
    }
    .title-box p {
        padding: 0;
    }    
}
@media (min-width: 768px) and (max-width: 991px)    
{
    .res-p-block .product-block .block-icon {
        padding: 40px 20px 40px 40px !important;
    }        
    .navbar-collapse.header-menu
    {
        background: #fff;
        box-shadow: 0px 0px 5px 0px #ccc;    
    }    
    nav.fixed-top
    {
        height: 70px !important;
    }
    nav.fixed-top.shrink-nav
    {
        height: 70px !important;
    }        
    button.navbar-toggler
    {
        margin-bottom: 10px !important;
    }    
    .navbar-toggler .navbar-toggler-icon
    {
        width: 30px;
        height: 30px;
        top: 0; 
    }    
    #services {
        padding: 60px 30px 0px 30px;
    }    
    .block-icon.large {
        margin: 20px 0px 60px 0px;
    }    
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .res-p-block .product-block .block-icon.small img {
        height: 300px;
        max-height: 300px;
        width: 300px;
        max-width: 300px;
        object-fit: cover;
    }    
    nav.fixed-top .navbar-brand 
    {
        margin-left: 5%;
    }
    nav.fixed-top .header-menu 
    {
        margin-right: 5%;
    }
}
@media (min-width: 992px) and (max-width: 4000px)
{
    .block-text {
        padding: 60px 0px 60px 60px;
        max-width: 550px;
    }    
}
@media (min-width: 1200px) and (max-width: 4000px)
{
    .res-p-block .product-block .block-icon.small img {
        height: 350px;
        max-height: 350px;
        width: 350px;
        max-width: 350px;
        object-fit: cover;
    }    
    nav.fixed-top .navbar-brand 
    {
        margin-left: 10%;
    }
    nav.fixed-top .header-menu 
    {
        margin-right: 10%;
    }
}
nav.fixed-top
{
    background: #ffffff;
    height: 80px;
    box-shadow: 0px 0px 5px 0px #ccc;
}
.product-block
{
    -webkit-box-shadow: 0px 5px 33px 0px rgba(82, 156, 219,0.17);
    -moz-box-shadow: 0px 5px 33px 0px rgba(82, 156, 219,0.17);
    box-shadow: 0px 5px 33px 0px rgba(82, 156, 219,0.17);
    margin: 15px;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    transition: all 0.3s ease 0.0s;
    margin-bottom: 60px;
}
.product-block h5
{
    font-weight: 500;
    font-size: 21px;
    color: #7f98ad;
    margin-bottom: 10px;    
}
.product-block .block-icon.small img {
    max-width: 100%;
    height: 230px;
    max-height: 230px;
    width: auto;
}
.read-more-btn a
{
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 6px;
    background-color: #f7fcef;
    display: inline-block;    
}
.product-block .block-icon {
    margin-bottom: 25px;
}
.product-block p {
    padding-bottom: 15px;
    font-size: 15px;
    color: #889eab;    
}
.product-details
{
    padding: 0px 15px;
}
.product-block:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.product-block:hover:after {
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    transition: all 0.3s ease 0.0s;
}
.product-block:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    transform: scale(0,1);
    transition: all 0.3s ease 0.0s;
}
#product-section
{
    padding: 100px 0px 100px 0px;    
}
.green-block a.readmore
{
    color: #8abe40 !important;
    border: 1px solid #8abe40;
    text-decoration: none;
    cursor: pointer;
}
.green-block a.readmore:hover
{
    color: #fff !important;
    background-color: #8abe40;    
    border: 1px solid #8abe40;
}
.product-block.green-block:after {
    background-color: #8abe40;
}
.pink-block a.readmore
{
    color: #e875c6 !important;
    border: 1px solid #e875c6;
    text-decoration: none;    
    cursor: pointer;    
}
.pink-block a.readmore:hover
{
    color: #fff !important;
    background-color: #e875c6;    
    border: 1px solid #e875c6;
}
.product-block.pink-block:after {
    background-color: #e875c6;
}
.purple-block a.readmore
{
    color: #7774e7 !important;
    border: 1px solid #7774e7;
    text-decoration: none;
    cursor: pointer;        
}
.purple-block a.readmore:hover
{
    color: #fff !important;
    background-color: #7774e7;    
    border: 1px solid #7774e7;
}
.product-block.purple-block:after {
    background-color: #7774e7;
}

@media (min-width: 100px) and (max-width: 767px)
{
    #product-section .res-p-block .product-block
    {
        max-width: 100%;        
    }    
    #product-section .product-block
    {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 50px;    
    }
}
@media (min-width: 100px) and (max-width: 991px)
{
    #header-slider {
        padding-top: 70px;
    }           
    #inner-page {
        margin-top: 70px;        
	}	
} 
@media (min-width: 100px) and (max-width: 767px)
{
	.carousel-item {
		height: auto;
		max-height: 450px;
		overflow: hidden;
	}
}
@media (min-width: 768px) and (max-width: 991px)
{
.res-p-block .product-block .block-icon.small img {
    height: 250px;
    max-height: 250px;
    width: 250px;
    max-width: 250px;
    object-fit: cover;
}    
	.carousel-item {
		height: auto;
		max-height: 450px;		
		overflow: hidden;
	}
}    
#content-section .c-block:nth-child(even) .row
{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;    
}
.res-p-block .product-block-sub
{
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
    text-align: left;
}
#product-section #features
{
    display: none;
}
#product-section .res-p-block #features
{
    display: block;
    padding: 30px;
}
.res-p-block .product-block .block-icon {
    margin-bottom: 0;
    padding: 40px;
}
.close-block
{
    display: none;
}
.close-block
{
    position: relative;
}
.close-block img
{
    opacity: 0.3;
    max-width: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
}
.res-p-block .close-block 
{
    display: block;
}
.close-block .img
{
    display: inline-block;    
}
.res-p-block .read-more-btn
{
    display: none;
}
.res-p-block .product-details {
    padding: 0px 30px 0px 15px;
}
.res-p-block .product-block
{
  -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  animation-fill-mode: forwards;	
}	
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0% {
        max-width: 33.333333%;
		}
    100% {
        max-width: 100%;

    }
}
@keyframes mymove {
    0% {
        max-width: 33.333333%;
		}
    100% {
        max-width: 100%;

    }
}
.res-p-block{
    opacity: 0;
}

.res-p-block {
    color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}
.slider-product,  .res-p-block .p-photo
{
    display: none;
}
.res-p-block .slider-product
{
    display: block;
}
#contact-block label {
    font-weight: 400;
    margin-bottom: 3px;
    color: #222;
    font-size: 14px;
}
#contact-block .form-control
{
    border: 1px solid #d2d8dd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;    
    height: 44px;
}
#contact-block .form-control:focus,
#contact-block .form-control:active,
#contact-block .form-control:visited {
    box-shadow: none;
    border-color: #0ec7e3;
}
.submit-block .submit-btn
{
    border: none;
    background: #11b5ce;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 12px 25px;
    color: #fff !important;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px; 
}
.submit-block .submit-btn:hover
{
    background: #11b5ce;
}
#contact-block textarea.form-control
{
    height: 100px;    
}
#contact-block .info-block
{
    background-color: #f8f8f8;
    padding: 25px 30px 30px 30px;
    position: relative;
    margin-bottom: 25px;    
}
#contact-block hr
{
    margin: 20px -30px;
    background: #ffffff;
    border-top: solid 2px #ffffff;    
}
ul.contacts-info
{
    font-size: 14px;
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.contacts-info li:nth-of-type(1)
{
    margin-bottom: 20px;
}
.contacts-info li
{
    color: #555    
}
#contact-block
{
    padding: 70px 0px;
}
#contact-block .contact-left
{
    margin-bottom: 30px;
}
.info-small-block
{
    padding-bottom: 20px;
}
.info-block p
{
    margin: 0px;
}
.info-block a
{
    color: #11b5ce;
    text-decoration: none !important;
}
.info-block a:hover
{
    color: #555;
}
p.p-block
{
    padding-bottom: 5px;
}




/************************************************ New Contact Page ************************************************/


.form-content input, .form-content .dropdown-toggle.btn-default {
    border: 1px solid rgba(0, 149, 255, 0);
    background-color: #f7f7f7;
    color: #000 !important;
    margin-bottom: 12px;
    font-size: 13px;
    padding: 10px;
}
.form-content .form-items {
    max-width: 400px;
    text-align: left;
}
.form-content .form-items { 
    display: block;
    width: 100%;
    max-width: 400px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 0 auto;
}
.other-block
{
    margin: 15px 0px;
}
.services-choose-block button
{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
    background-color: #f7f7f7;
    color: #606060 !important;
    font-weight: 500;
}
.other-block
{
    display: none;
}
h3.form-title
{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    padding-bottom: 15px;
}
.block-form label
{
    font-weight: 300;
    font-size: 14px;
    color: #000;
    text-align: left;    
}
.block-form textarea
{
    resize: none;
    border: 1px solid rgba(0, 149, 255, 0);
    background-color: #f7f7f7;
    min-height: 140px;    
}
button.form-cancel, button.form-save
{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 10px 35px;
    border: none;
    box-shadow: none;
    outline: none;
    transition: all 0.3s ease 0.0s;    
    border-radius: 0px;
    color: #999 !important;    
}
button.form-save
{
    background: #0ec7e3;
    color: #fff !important;    
}   
.block-form .form-content
{
    padding: 80px 0px;    
}
.services-choose-block button
{
    outline: none !important;
    box-shadow: none !important;
}
.services-choose-block button.active
{
    color: #fff !important;
    background-color: #0ec7e3;
    -webkit-box-shadow: 0 3px 8px rgba(14, 199, 227, 0.59) !important;
    box-shadow: 0 3px 8px rgba(14, 199, 227, 0.59) !important;
}
.form-group .form-control
{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}
.form-items .form-group
{
    position: relative;
}
.form-items .form-group.focused:before {
    visibility: visible;
    width: 100%;
}
.form-items .form-group:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0ec7e3;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}